[Desktop Entry]
Name=PureWeather
Comment=轻氧天气 - 一款使用 Material You Design 的天气应用
Exec=pureweather
Icon=pureweather
Terminal=false
Type=Application
Categories=Utility;Weather;
StartupNotify=true
